@font-face {
  font-family: 'yanone_kaffeesatzregular';
  src: url('../assets/fonts/yanonekaffeesatz-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'lithos_pro_regularregular';
  src: url('../assets/fonts/lithospro-regular_0-webfont.woff') format('woff');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../assets/fonts/myriadpro-regular_0-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Mouse Memoirs';
  src: url('../assets/fonts/Mouse-Memoirs.woff2') format('woff2');
}

@font-face {
  font-family: 'Jolly Lodger';
  src: url('../assets/fonts/Jolly-Lodger.woff2') format('woff2');
}

@font-face {
  font-family: 'Trade Winds';
  src: url('../assets/fonts/Trade-Winds.woff2') format('woff2');
}

* {
  font-family: 'MyriadProRegular', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

a:hover,
a:active,
a:focus,
a:focus-visible {
  outline: none !important;
  border: 0;
}

.fl {
  font-family: 'lithos_pro_regularregular';
}

.fy {
  font-family: 'yanone_kaffeesatzregular';
}

.fm {
  font-family: 'MyriadProRegular';
}

.co {
  color: #ff8000;
}

.cb {
  color: #3a75b9;
}

.is-borderless:focus {
  border-color: hsl(221, 14%, calc(86% + 0%)) !important;
}

.menu-columns {
  margin-top: -22px !important;
  margin-left: -4px !important;
}

.bg {
  background-image: url(../assets/images/layout/grain.png),
    url(../assets/images/layout/background.png),
    linear-gradient(
      180deg,
      rgba(15, 23, 42, 1) 0%,
      rgba(30, 41, 59, 1) 35%,
      rgba(51, 65, 85, 1) 100%
    );
  background-repeat: repeat, no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.newspaper-box {
  background: url(../assets/images/layout/newspaper-box.png) no-repeat;
  width: 100%;
  min-height: 323px;
  padding: 75px 0 0 16px;
}

.newspaper-title {
  width: 328px;
  height: 38px;
  background: url(../assets/images/layout/newspaper-title.png) left top no-repeat;
  line-height: 34px;
  overflow: hidden;
  position: relative;
}

.newspaper-title:hover {
  background-position: 0 -38px;
}

.newspaper-title-date {
  position: absolute;
  top: 2px;
  left: 1px;
  text-align: center;
  text-shadow: 1px 1px 0 #761f0b;
  width: 66px;
  height: 35px;
  font-size: 14px;
  font-family: 'yanone_kaffeesatzregular';
  color: #ece8e1;
}

.newspaper-title-title {
  position: absolute;
  top: 2px;
  left: 71px;
  text-shadow: 1px 1px 0 #895e13;
  width: 253px;
  height: 35px;
  font-size: 17px;
  font-family: 'yanone_kaffeesatzregular';
  color: #ece8e1;
}
