@font-face {
  font-family: 'yanone_kaffeesatzregular';
  src: url('../assets/fonts/yanonekaffeesatz-regular-webfont.woff') format('woff');
}

@font-face {
  font-family: 'lithos_pro_regularregular';
  src: url('../assets/fonts/lithospro-regular_0-webfont.woff') format('woff');
}

@font-face {
  font-family: 'MyriadProRegular';
  src: url('../assets/fonts/myriadpro-regular_0-webfont.woff') format('woff');
}

@font-face {
  font-family: 'Mouse Memoirs';
  src: url('../assets/fonts/Mouse-Memoirs.woff2') format('woff2');
}

@font-face {
  font-family: 'Jolly Lodger';
  src: url('../assets/fonts/Jolly-Lodger.woff2') format('woff2');
}

@font-face {
  font-family: 'Trade Winds';
  src: url('../assets/fonts/Trade-Winds.woff2') format('woff2');
}

* {
  font-family: 'MyriadProRegular', sans-serif;
}

::-webkit-scrollbar {
  width: 6px;
  background-color: rgba(0, 0, 0, 0.5);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

a:hover,
a:active,
a:focus,
a:focus-visible {
  outline: none !important;
  border: 0;
}

.fl {
  font-family: 'lithos_pro_regularregular';
}

.fy {
  font-family: 'yanone_kaffeesatzregular';
}

.fm {
  font-family: 'MyriadProRegular';
}

.co {
  color: #ff8000;
}

.cb {
  color: #3a75b9;
}

.is-borderless:focus {
  border-color: hsl(221, 14%, calc(86% + 0%)) !important;
}

.menu-columns {
  margin-top: -22px !important;
  margin-left: -4px !important;
}
